p{
    border:1px solid #000;

    padding: 30px;
    /*
    margin:10px 20px 30px 40px; top / right / bottom / left
     margin:10px 20px 30px; top / right-left / bottom
    margin:25px 50px;  top-bottom  / right-left
    margin:25px; / top-left-bottom-right

     margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    */
}