
h1 {
    /*
color:hsl(0, 0%, 47%);  
color:rgb(255, 99, 71);
*/

/*
#FF0000 : Kırmızı
#00FF00 : Yeşil
#0000FF : Mavi
#FFFFFF: Beyaz
#000000: Siyah
#ff00ff00
*/
color:#ff00ff; /* yorum*/
/* yorum*/

}



body{
    background-color:#169131;
    background-image: url('test.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
   /* background: #ffffff;*/
}

#baslik{
    color:#9ee0ad!important;
}

.basliklar{
    color:#df87da;
}


#icerik{
    /*border-style:dotted;
    border-width: 2px;
    border-color:#fff;*/

   /* border: 1px solid #fff; */

   border-left: 5px solid #14ffb1;

   
    
}
#icerik2{
    border: 3px solid #fff;
    border-radius: 5px;
   
    
}
/*
h1,h2,h3,h4,.basliklar{
    color:#000;
}

*{
    color:#000;
}
    
*/